.hero__main__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}
.hero__main__wo_heading h3 {
  margin-bottom: 15px;
}
.hero__main__wo_heading {
  background-color: #374684;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 3px #35416b;
}
.container .hero__main__wo_heading {
  padding: 0 0;
}
.hero__main__pic_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.hero__main__pic_text img {
  width: 120px;
  height: 184px;
}

.hero__main__pic_text p {
  width: 270px;
}
.visually__hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__main__wo_heading {
    border-radius: 30px;
    width: 708px;
    box-shadow: 0 5px 30px 3px #35416b;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero__main__pic_text img {
    width: 146px;
    height: 235px;
  }
  .hero__main__pic_text p {
    width: 498px;
  }
  .visually__hidden_f {
    display: none;
  }
  .visually__hidden {
    display: block;
  }
  .hero__main__inner {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__main__inner {
    margin-bottom: 100px;
    gap: 20px;
    align-items: flex-start;
  }
  .hero__main__inner h2 {
    padding: 0;
  }
  .hero__main__wo_heading {
    padding: 28px;
    width: 1016px;
  }
  .hero__main__pic_text img {
    width: 263px;
    height: 380px;
  }
  .hero__main__pic_text p {
    width: 680px;
  }
}
