.swiper {
  width: 100%;
  height: 100%;
}

.swiper__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 235px;
  border-radius: 20px;
  object-fit: cover;
}

.swiper__slide img {
  display: block;
  width: 100%;
  height: 100%;
  height: 235px;
  object-fit: cover;
}

.hero__inner {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.hero__inner h1 {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .swiper__slide {
    height: 311px;
    border-radius: 50px;
  }
  .swiper__slide img {
    object-fit: contain;
    height: 311px;
  }
  .hero__inner h1 {
    padding: 0;
    margin-bottom: 20px;
  }
  .hero__inner {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__inner h1 {
    margin-bottom: 25px;
  }
  .swiper__slide {
    height: 450px;
  }
  .swiper__slide img {
    height: 450px;
  }
  .hero__inner {
    margin-bottom: 90px;
  }
}
