.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 5px;
  margin-bottom: 30px;
}

.btn {
  color: #24315e;
  border: 3px solid #24315e;
  padding: 2px;
  border-radius: 8px;
  width: 40px;
  height: 39px;
  font-family: "Montserrat";
  font-weight: 1200;
  font-size: 14px;
  line-height: 240%;
  letter-spacing: 0.05em;
  text-align: center;
}

.btn:hover,
.btn:focus {
  border: 3px solid #f98787;
  color: #f98787;
}

@media screen and (min-width: 768px) {
  .list {
    gap: 13px 11px;
    margin-bottom: 47px;
  }

  .btn {
    border: 4px solid #24315e;
    border-radius: 15px;
    width: 60px;
    height: 51px;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
    padding-top: 8px;
  }
  .btn:hover,
  .btn:focus {
    border: 4px solid #f98787;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    gap: 17px 16px;
    margin-bottom: 40px;
  }

  .btn {
    border: 4px solid #24315e;
    border-radius: 15px;
    width: 87px;
    height: 66px;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.02em;
    padding-top: 14px;
  }
  .btn:hover,
  .btn:focus {
    border: 4px solid #f98787;
  }
}
